<h1>Bem vindo ao módulo drag and drop</h1>
<div class="intro">
    <span>
        Objetivo: <br>
        - Pegar algum objeto <br>
        - Criar um clone para poder mover <br>
        - Mover o objeto pela tela <br>
        - Soltar o objeto em um lugar predeterminado <br>
        - O objeto inicial ser excluído <br>
    </span>
</div>

<div class="droppables-container">
    <div class="droppable" appDroppableComponent></div>
    <div class="droppable" appDroppableComponent></div>
    <div class="droppable" appDroppableComponent></div>
</div>

<div class="draggables-container">
    <div class="draggable" appDraggableComponent></div>
    <div class="draggable red" appDraggableComponent></div>
    <div class="draggable blue" appDraggableComponent></div>
    <div class="draggable green" appDraggableComponent></div>
    <div class="draggable purple" appDraggableComponent></div>
</div>